# Airflow Configuration
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

# Admin Credentials
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Environment File Path
ENV_FILE_PATH=.env

# Additional PIP Requirements (optional)
# _PIP_ADDITIONAL_REQUIREMENTS=''
